* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #bdb9b9;
  font-size: 30px;
}

header {
  background-color: #00a9ba;
}

header, main, footer {
  max-width: 960px;
  margin: 0 auto;
}

a {
  color: #043053;
}

header nav {
  padding-bottom: 20px;
  font-family: roboto;
  font-size: 30px;
  color: #294d2e;
}

h1 {
  font-family: satisfy;
  font-size: 35px;
  color: #273b28;
}

h2 {
  padding: 10px;
  font-family: satisfy;
  font-size: 30px;
  color: #432229;
}

h3 {
  font-family: satisfy;
  font-size: 25px;
  color: #432229;
}

p {
  padding-bottom: 10px;
  font-family: roboto;
}

/* Class selector */
.page {
  max-width: 960px;
  margin: 0 auto;
}

.hero {
  font-family: satisfy;
  font-size: 40px;
  color: #3b2f27;
}

.services {
  font-family: montserrat;
  font-size: 25px;
  color: #000000;
}

.box {
  box-shadow: 5px 5px 5px #043053;
}

.border {
  border: 5px outset #ffffff;
  border-radius: 10px;
  background-color: #ffffff;
}

.social {
  font-family: roboto;
  font-size: 20px;
  color: #ffffff;
  background-color: #043053;
}

.socialp {
  padding-bottom: 15px;
  font-family: roboto;
}